<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Demo - Informações do Servidor</title>
</head>
<body>
  <h1>Informações do Servidor</h1>
  <p>Endereço IP do Servidor: <%= ip %></p>
  <p>Hora Atual do Servidor: <%= horaAtual %></p>
</body>
</html>
